{%extends "layout.html"%}
{%block title%}
        {% if content['film_type'] == '0' %}
            <title>{{_("CineMonster")}} &middot {{_("Films")}}</title>
        {% else %}
            <title>{{_("CineMonster")}} &middot {{_("Serials")}}</title>
        {% end %}
{% end %}


{%block menu_films %}
           <li class="active" ><a href="/films?film_type=0">{{_("FILMS")}}</a></li>
{% end %}


{% block content %}
         {% if content['film_type'] == '0' %}
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="/films?film_type=0">{{_("Films")}}</a></li>
              <li role="presentation"><a href="/films?film_type=1">{{_("Serials")}}</a></li>
            </ul>

             <h2>{{_("Films")}}</h2>
         {% else %}
            <ul class="nav nav-tabs">
              <li role="presentation" ><a href="/films?film_type=0">{{_("Films")}}</a></li>
              <li role="presentation" class="active"><a href="/films?film_type=1">{{_("Serials")}}</a></li>
            </ul>

             <h2>{{_("Serials")}}</h2>
         {% end %}
         <hr>

    {% for id, name, year, director, summary, icon_file_name in content['films_list'] %}
            <div class="row">
               <div class="well clearfix">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-5 text-center">
                         <img class="img-thumbnail" src="{{static_url(icon_file_name)}}">
                         <p><strong>{{name}}</strong></p>
                      </div>

                      <div class="col-lg-8 col-md-8 col-sm-7">
                         <div class="film-summary">
                          <p>
                             {{summary}}
                          </p>
                         </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <a href="/view?id={{id}}" class="btn btn-warning pull-right">{{_("details")}}</a>
                     </div>
                  </div>
                </div>
             </div>
    {% end %}
            <nav aria-label="films_pagination">   <!-- paginator -->
                      <ul class="pagination">
                       {% for icon, status, page_link in content['paginator'] %}
                            {% if status == 'disabled' %}
                                <li class="{{status}}"><a href="#">{{icon}}</a></li>
                            {% else %}
                                <li class="{{status}}"><a href="/films?film_type={{content['film_type']}}&curr_page={{page_link}}">{{icon}}</a></li>
                            {% end %}
                       {% end %}
                      </ul>

             </nav>
{% end %}
