  <!-- Modal window Log out -->
            <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel_1">
                             <i class="glyphicon glyphicon-modal-window"></i>
                             <strong>&nbsp {{_("Log out")}}</strong>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         </h4>
                  </div>
                  <div class="modal-body">
                      {{_("Exit the site")}}
                  </div>
                  <div class="modal-footer">
                    <a href="/auth" type="button" class="btn btn-warning">{{_("Log out")}}</a>
                  </div>
                </div>
              </div>
            </div>
  <!-- end modal Window Log out -->
